page-header {
    width: 100%;
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

page-header *::selection {
    background-color: fuchsia;
}

page-header a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
}

page-header .title {
    display: inline-block;
    padding: 10px;
    color: #afcee8;
}