html, body, #main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#main {
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table thead {
    background-color: black;
    color: white;
}

td, th {
    padding: 5px;
}

.page-content {
    overflow: auto;
}