html, body, #main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#main {
    display: flex;
    flex-direction: column;
}

.page-content {
    overflow: auto;
}

select, input {
    font-size: 1em;
    border: 1px solid #CCC;
}

select {
    padding: 2px 2px 3px 2px;
}

input {
    padding: 3px;
}

button {
    height: 26px;
}

tasks-table table {
    border-collapse: collapse;
    border-spacing: 0;
}

table thead th {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

table thead th:nth-child(-n+3) {
    color: #ccc;
}

table tbody tr.task-row td:nth-child(-n+4) {
    background-color: #eee;
}

tr.task-row td, th {
    padding: 5px;
}

.task-row.overdue-task td:nth-child(-n+3) {
    color: #888;
}

.task-row.within-week-task td:nth-child(-n+3) {
    font-weight: bold;
}

table thead tr {
    border-left: 16px solid black;
}

.task-row.test_robot-task {
    border-left: 16px solid rgba(32, 75, 126, 1);
}

.task-row.programming-task {
    border-left: 16px solid rgba(32, 75, 126, 0.85);
}

.task-row.mechanics-task {
    border-left: 16px solid rgba(32, 75, 126, 0.7);
}

.task-row.electronics-task {
    border-left: 16px solid rgba(32, 75, 126, 0.55);
}

.task-row.progress_presentations-task {
    border-left: 16px solid rgba(32, 75, 126, 0.4);
}

.task-row.competitions-task {
    border-left: 16px solid rgba(32, 75, 126, 0.15);
}

.task-row.other-task {
    border-left: 16px solid rgba(32, 75, 126, 0.0);
}

tr.team-tasks-row td {
    padding: 0;
}

.team-task-cell {
    text-align: center;
}

.team-task-cell.available {
    background-color: white;
}

.team-task-cell.unavailable {
    background-color: #eee;
}

.team-task-cell.done {
    background-color: palegreen;
}

.team-task-cell.points-invalid {
    background-color: orange;
}

.team-task-cell.can-open:hover {
    background-color: #DEF;
}

.team-tasks {
    display: flex;
    flex-direction: column;
}

.team-task {
    background-color: #f8f8f8;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

th.highlighted {
    background-color: white;
    color: black;
}

table tbody tr.task-row td.highlighted {
    background-color: black;
}

table tbody tr.task-row td.highlighted a {
    color: white;
}

input.points {
    width: 100px;
}

.changed {
    border-left: 3px solid dodgerblue;
    margin-left: -2px;
}

.added {
    border-left: 3px solid purple;
    margin-left: -2px;
}

.removed {
    border-left: 3px solid slategray;
    margin-left: -2px;
}

.invalid {
    border-left: 3px solid orangered;
    margin-left: 0;
}

.team-task {
    display: inline-block;
}

.team-task > * + * {
    margin-top: 5px;
}

.team-task-header,
.completion-time {
    display: flex;
    align-items: center;
    justify-content: left;
}

.team-task .save-button,
.team-task .save-status,
.team-task .close-button {
    margin-left: 5px;
}

.team-task .points-available {
    margin-top: 2px;
}

.team-task .points-used {
    margin-top: 2px;
}

.team-task .participants .title {
    margin-bottom: 5px;
}

.team-task .add-participant {
    margin: 3px 0;
}

.participant-row {
    display: flex;
    align-items: center;
}

.participant-row.view {
    margin-left: 10px;
}

.participant-row > * {
    margin-right: 5px;
}

.participant-row + .participant-row {
    margin-top: 5px;
}

option.team-member {
    font-weight: bold;
}

.bonus-indicator {
    padding: 2px;
    margin: 0 1px;
    border: 1px solid #ddd;
    display: inline-block;
    opacity: 0.3;
}

.bonus-indicator.active {
    opacity: 1;
}

.team-task-changelog button {
    margin: 10px 0;
}

.team-task-changelog ol {
    margin: 0;
    margin-bottom: 5px;
}